<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">RECIPE BOOK</a>
        </div>

        <div class="nabar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">RECIPES</a></li>
                <li><a href="#">SHOPPING LIST</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">
                        MANAGE <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">SAVE DATA</a></li>
                        <li><a href="#">FETCH DATA</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>