<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">RECIPE BOOK</a>
        </div>

        <div class="nabar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a routerLink="/auth">AUTHENTICATE</a></li>
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="/recipes">RECIPES</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">SHOPPING LIST</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" (click)="onLogout()">LOGOUT</a>
                </li>
                <li class="dropdown" appDropdown *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">
                        MANAGE <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="onSaveData()">SAVE DATA</a></li>
                        <li><a style="cursor: pointer;" (click)="onFetchData()">FETCH DATA</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>