<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>RECIPE NAME</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">
                MANAGE RECIPE <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">TO SHOPPING LIST</a></li>
                <li><a href="#">EDIT RECIPE</a></li>
                <li><a href="#">DELETE RECIPE</a></li>
            </ul>
        </div>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-xs-12">
        [DESCRIPTION]
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-xs-12">
        [INGREDIENTS]
    </div>
</div>